@use '@/assets/variables.scss' as *;

.loader {
	padding: 40px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.loader__foreground {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 33px;
	left: 33px;
	animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loader__background {
	width: 70px;
	height: 70px;
	position: relative;
	border: 2px solid $light-grey;
	border-radius: 50%;
}
