@use '@/assets/variables.scss' as *;
@use '@/assets/mixins.scss' as *;

.news-section {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;

	@include media('max', 'tablet') {
		max-width: 920px;
	}

	@include media('max', 'mobile') {
		max-width: 500px;
	}
}

.news-section__title {
	font-size: 30px;
	font-weight: 500;
}

.news-section__description {
	font-weight: 500;
}

.slider {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.slider__slider-list {
	padding: 5px;
	width: 100%;
	display: flex;
	gap: 80px;
	overflow: hidden;
	scroll-behavior: smooth;
	list-style: none;

	@include media('max', 'tablet') {
		gap: 10px;
	}
}

.slider-list__item {
	a {
		padding: 32px;
		width: 320px;
		height: 450px;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		justify-content: center;
		gap: 32px;
		background: white;
		border: 1px solid rgb(187, 187, 187, 0.28);
		border-radius: 28px;
		box-shadow: 0 0 4px rgb(0, 0, 0, 0.08), 0 2px 4px rgb(0, 0, 0, 0.2);

		@include media('max', 'tablet') {
			padding: 20px;
			width: 300px;
			height: 400px;
			gap: 20px;
		}

		h4,
		p {
			padding: 5px 0;
			max-height: 100%;
			text-align: center;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h4 {
			flex-grow: 1;
			font-size: 20px;

			@include media('max', 'tablet') {
				font-size: 18px;
			}
		}

		img {
			margin: 0 auto;
			width: 256px;
			height: 120px;
			object-fit: cover;
			text-align: center;
		}
	}
}

.slider__navbar {
	margin-top: 48px;
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 20px;
}

.navbar__button {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $button;
	border-radius: 50%;
	border: none;
}

.navbar__button:hover {
	background: $button-hover;
}

.navbar__button:disabled {
	background: white;
	border: 1px solid $button;
	cursor: default;
}
