@use '@/assets/mixins.scss' as *;

.loan {
	margin: 20px auto 96px;
	max-width: 1300px;
	width: 100%;

	@include media('max', 'laptop') {
		padding: 0 20px;
	}

	@include media('max', 'tablet') {
		padding: 0 10px;
	}
}

.prescoring-section {
	margin-top: 46px;
}
