@use '@/assets/mixins.scss' as *;

.error-page {
	margin: 132px auto 98px;
	max-width: 1300px;
	width: 100%;

	@include media('max', 'laptop') {
		padding: 0 20px;
	}

	@include media('max', 'tablet') {
		margin: 30px auto 30px;
		padding: 0 10px;
	}
}

.error-page__error-section {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media('max', 'mobile') {
		flex-direction: column;
		gap: 30px;
	}
}

.error {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@include media('max', 'mobile') {
		align-items: center;
		gap: 20px;
	}
}

.error-page__image {
	@include media('max', 'tablet') {
		width: 350px;
	}

	@include media('max', 'mobile') {
		width: 300px;
	}
}

.error-section__title {
	font-size: 30px;
	font-weight: bold;

	@include media('max', 'tablet') {
		font-size: 26px;
	}
}

.error-section__subtitle {
	font-size: 30px;
	font-weight: 500;

	@include media('max', 'tablet') {
		font-size: 26px;
	}
}

.error-section__description {
	color: #4b4b4b;
	font-weight: 500;
}

.button-back__button {
	width: 192px;
}
