@use '@/assets/variables.scss' as *;

.card-section {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.card-section__title {
	max-width: 610px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.title__text {
	color: $text-primary;
	font-size: 48px;
	font-weight: bold;
	line-height: 50px;
}

.card-list {
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
	list-style: none;

	img {
		border-radius: 15px;
	}
}

@media (max-width: 920px) {
	.card-section {
		padding-top: 10px;
		flex-direction: column;
	}
	.card-section__title {
		gap: 16px;
	}
	.title__text {
		font-size: 30px;
		line-height: 32px;
	}
	.card-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;

		img {
			width: 100%;
			border-radius: 4px;
		}
	}
}
