@use '@/assets/mixins.scss' as *;

.card-tabs {
	margin-top: 40px;
}

.card-tabs__tabs-list {
	border-bottom: 2px solid rgb(128, 128, 128, 0.2);
	gap: 32px;

	@include media('max', 'tablet') {
		gap: 0;
	}

	@include media('max', 'mobile') {
		height: 64px;
	}
}

.tabs-list__tab {
	color: #7b7454;
}
