$background: #f5f4ff;

$button: #003cff;
$button-hover: #4d82c9;
$button-disabled: #7796c0;

$navbar-text: #1d1929;

$features-color: #4f5665;

$text-primary: #1c1c1e;

$grey: #3d3d3d;
$light-grey: #808080;

$card-block-bg: #eaecee;

$olive-color-text: #7b7454;

$error: #ff5631;

$purple-border: #5b35d5;

$box-shadow: 0 0 8px rgb(0, 0, 0, 0.08), 0 2px 4px rgb(0, 0, 0, 0.2);

$sizes: (
	'mobile': 500px,
	'tablet': 920px,
	'laptop': 1300px,
);
