@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	--white: #fff;
	--blue-3: #003cff;
	--navbar-text: #1d1929;
	--features-color: #4f5665;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: #f5f4ff;
	font-family: 'Ubuntu', system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	font-style: normal;
	text-decoration-line: none;
}

button {
	font-family: 'Ubuntu', system-ui, sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2;
	cursor: pointer;
}

.app {
	min-height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* Header */
.header {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	color: #b4387a;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2;
}

.header__navbar {
	display: flex;
	gap: 40px;
	list-style: none;
}

.header__navbar .navbar__item {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2;
	color: var(--navbar-text);
}

.header__button,
.title__button {
	padding: 16px;
	background: var(--blue-3);
	color: var(--white);
	border-radius: 16px;
	border: none;
}

/* Main */
.main {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

/* Card section */
.card-section {
	padding-top: 132px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.card-section__title {
	max-width: 610px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.title__text {
	color: #1c1c1e;
	font-size: 48px;
	font-weight: bold;
	line-height: 50px;
}

.card-list {
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
	list-style: none;
}

.card-list img {
	border-radius: 15px;
}

/* Features section */
.features-section {
	padding-top: 112px;
	display: flex;
	align-items: center;
	gap: 75px;
}

.features {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.features__title {
	font-family: 'Rubik', system-ui, sans-serif;
	font-size: 35px;
	font-weight: 500;
	line-height: 50px;
	color: #0b132a;
}

.features__description {
	font-family: inherit;
	color: var(--features-color);
}

.features__list {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

.features__list li {
	height: 30px;
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--features-color);
	font-family: inherit;
}

/* Footer */
.footer-section {
	padding: 94px 0;
	background: color-mix(in srgb, #b2b2b2 20%, #f4f4f4);
}

.footer {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footer__address {
	display: flex;
	justify-content: space-between;
}

.address__text {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.address__tel {
	font-size: 30px;
	font-weight: bold;
}

.address__mail {
	color: #2d3748;
	font-size: 16px;
	font-weight: 500;
}

.footer__navbar {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.footer__navbar .navbar__item {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2;
}

.footer__hr {
	height: 2px;
	background-color: white;
	border: none;
}

.footer__description {
	color: #2d3748;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2;
}

@media (max-width: 1300px) {
	.header {
		padding: 0 20px;
	}
	.main {
		padding: 0 20px;
	}
	.footer {
		padding: 0 20px;
	}
}

@media (max-width: 920px) {
	.header {
		padding: 0 10px;
	}
	.header__navbar {
		display: none;
	}

	.main {
		padding: 0 10px;
	}
	.title__text {
		font-size: 30px;
		line-height: 32px;
	}
	.card-section {
		padding-top: 50px;
	}
	.card-list {
		display: grid;
		grid-template-columns: auto;
		gap: 5px;
	}
	.card-list img {
		width: 180px;
	}
	.workman-svg {
		width: 400px;
	}
	.features-section {
		padding-top: 10px;
		gap: 30px;
	}
	.features {
		gap: 12px;
	}
	.features__title {
		font-size: 28px;
		font-weight: 500;
		line-height: 25px;
	}
	.features__list {
		gap: 5px;
	}

	.footer-section {
		padding: 60px 0;
	}
	.footer {
		padding: 0 10px;
	}
	.footer__navbar {
		gap: 12px;
	}
}
