.accordion {
	border: 1px solid;
	border-bottom: none;
}

.accordion:last-child {
	border-bottom: 1px solid;
}

.accordion__accordion-summary {
	padding: 28px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	user-select: none;

	svg {
		min-width: 24px;
	}
}

.accordion__accordion-details {
	padding: 24px 32px;
	display: none;
}

.accordion__accordion-details.expanded {
	display: block;
}
